@namespace xf url("http://www.w3.org/2002/xforms");
@namespace mozType url(http://www.mozilla.org/projects/xforms/2005/type);

.form-style {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

#form-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 25px;
    padding-bottom: 3px;
}

xf|inputBlock label{
    display: block;
    margin: 0px 0px 15px 0px;
}

xf|inputBlock label > span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

xf|inputBlock span.required{
    width: 40px;
    text-align: center;
}

xf|inputBlock input.input-field{
    width: 48px;
}

xf|input{
    display:block;
}
#inputBlock{
    display:block;
}

.inputLabels{
    width:12% !important;
    display:inline-block;
}

input.text, select.select {
    border: 1px solid #222;
    background: #fff;
}

form li.complex div span{
    padding-top: 0;
    padding-bottom: 0;
}

label.desc {
    padding: 0;
}

input.text {
    padding: 0;
}
