.form-style {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style label{
    display: block;
    margin: 0px 0px 15px 0px;
}

.form-style label > span {
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.form-style span.required{
    width: 40px;
    text-align: center;
}

.form-style input.input-field{
    width: 48px;
}

input.text, select.select {
    border: 1px solid #222;
    background: #fff;
}

form li.complex div span{
    padding-top: 0;
    padding-bottom: 0;
}

label.desc {
    padding: 0;
}

input.text {
    padding: 0;
}

